<section class="row login-padding"></section>
<section class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-2">
    <a href="/auth/google_oauth2" class="btn btn-lg btn-block btn-primary">Log in with Gmail</a>
  </div>
  <div class="col-lg-5"></div>
</section>
