// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating-page-padding {
  height: 60px;
}

.rating-select {
  -webkit-appearance: menulist-button;
  font-size: 44px;
  color: #3366FF;
}

.rating-textarea {
  font-size: 18px;
  width: 100%;
  height: 200px;
}
