// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-container {
  border: 3px solid black;
  border-radius: 6px;
  background-color: #303030;
  padding: 30px 30px;
}

.text-input {
  border-radius: 3px;
  border: 2px solid gray;
  padding: 10px;
  width: 100%;
  font-size: 18px;
}
